<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymManager - Panel principal</title>
</head>
<body>

<h1>GymManager</h1>

<p>Bienvenido al panel principal de GymManager.</p>

<ul>
    <li>
        <a href="/web/grupos">Gestionar grupos musculares</a>
    </li>
    <li>
        <a href="/web/ejercicios">Gestionar ejercicios</a>
    </li>
    <li>
        <a href="/web/rutinas">Gestionar rutinas</a>
    </li>

</ul>

</body>
</html>