<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Ejercicio</title>
</head>
<body>

<h1 th:text="${rutina.id == null} ? 'Nuevo Ejercicio' : 'Editar Ejercicio'">Formulario</h1>

<p>
    <a th:href="@{/web/rutinas}">Volver al listado</a>
</p>

<form th:action="@{/web/rutinas/guardar}" th:object="${rutina}" method="post">
    <input type="hidden" th:field="*{id}">

    <p>
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}">
    </p>
    <p>
        <label>Descripción</label>
        <input type="text" th:field="*{descripcion}">
    </p>
    <p>
        <label>Dificultad</label>
        <label>
            <select th:field="*{nivel}">
                <option value="">--Seleccionar</option>
                <option th:each="dif : ${dificultades}"
                        th:value="${dif}"
                        th:text="${dif}">
                </option>
            </select>
        </label>
    </p>
    <p>
        <button type="submit">Guardar</button>
    </p>

</form>

</body>
</html>